.button{
    background-color: pink;
    height: 2rem;
    border-radius: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-secondary);
    cursor: pointer;
    padding: 1rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    z-index: 2;
}

.button-link{
    width: 100%;
}