.signin{
    background-color: var(--background-color);
    color: var(--text-color);
}

.signin-form{
    height: calc(100vh - 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
}