.WarningVote{
    height: calc(100vh - 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

.WarningVote-notification{
    background: var(--notification-warning);
    padding: 1rem;
    color: var(--background-color);
}

.WarningVote-hour{
    font-size: 2rem;
}

.WarningVote-CloseSesion{
    margin-top: 1rem;
}