.card{
    border-radius: 16px;
}

.card-header{
    height: 18rem;
}
.card-image{
    width: 18rem;
    border-radius: 16px 16px 0px 0px;   
}

.card-text{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000000d2 110%);;
    height: 18rem;
    transform: translatey(-100%);
    display: flex;
    flex-direction: column-reverse;
}

.card-text p{
    margin-left:1rem;
}

.card-text p:nth-child(1){
    margin-bottom: 1rem;
}

.card-footer{
    color: #000;
    background: #FFFFFF;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.card-buttoncircle{
    border: none;
    background-color: #c4c4c4;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 2rem;
    border-radius: 20px;
}